* text=auto

*.cs text diff=csharp
*.asmdef text
*.asmref text
*.shader text
*.shadergraph text
*.hlsl text
*.cginc text
*.compute text
*.json text
*.txt text
*.md text
*.asset text
*.prefab text
*.unity text
*.mat text
*.meta text
*.controller text
*.anim text
*.overrideController text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg binary
*.jpeg binary
*.gif binary
*.tga binary
*.psd binary
*.fbx filter=lfs diff=lfs merge=lfs -text
*.obj binary
*.blend binary
*.wav binary
*.mp3 binary
*.ogg binary
*.mp4 binary
*.mov binary
*.dll binary
3cDemo/Client/3C_Client/Assets/_HoaxGames/iStep/iStep_Demo_HDRP.unitypackage filter=lfs diff=lfs merge=lfs -text
3cDemo/Client/3C_Client/Assets/AssetArt/ArtRes/RockyDesert/RockyDesert_HDRP.unitypackage filter=lfs diff=lfs merge=lfs -text
3cDemo/Client/3C_Client/Assets/AssetArt/ArtRes/RockyDesert/RockyDesert_URP.unitypackage filter=lfs diff=lfs merge=lfs -text
3cDemo/Client/3C_Client/Assets/Configs/Character/Corin/Pipeline/Definition/Generated/CorinCharacterPipelineDefinition.PresentationProjection.asset filter=lfs diff=lfs merge=lfs -text
*.FBX filter=lfs diff=lfs merge=lfs -text
*.anim filter=lfs diff=lfs merge=lfs -text
