.property {
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-color: rgb(34, 34, 34);
    border-right-color: rgb(34, 34, 34);
    border-top-color: rgb(34, 34, 34);
    border-bottom-color: rgb(34, 34, 34);
}

.dragged.property {
    border-left-color: rgb(68, 192, 255);
    border-right-color: rgb(68, 192, 255);
    border-top-color: rgb(68, 192, 255);
    border-bottom-color: rgb(68, 192, 255);
}

#property-border {
    flex-direction: row;
}

#property-handle {
    border-right-width: 1px;
    border-left-color: rgb(34, 34, 34);
    border-right-color: rgb(34, 34, 34);
    border-top-color: rgb(34, 34, 34);
    border-bottom-color: rgb(34, 34, 34);
    width: 25px;
}

#property-info {
    flex-grow: 1;
}

#property-title {
    flex-direction: row;
    height: 25px;
}

#property-title-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgb(56, 56, 56);
    font-size: 16px;
    -unity-text-align: middle-center;
    -unity-font-style: bold;
    flex-shrink: 1;
    flex-grow: 1;
}

#property-title-button:hover {
    background-color: rgb(200, 200, 200);
    color: rgb(40, 40, 40);
}

#property-remove-button {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    padding-bottom: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-left-width: 1px;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-color: rgb(34, 34, 34);
    border-right-color: rgb(34, 34, 34);
    border-top-color: rgb(34, 34, 34);
    border-bottom-color: rgb(34, 34, 34);
    background-color: rgb(40, 40, 40);
    background-image: resource('Icon/d_Toolbar Minus@2x');
    font-size: 18px;
    -unity-font-style: bold;
    -unity-text-align: middle-center;
    width: 25px;
}

#property-remove-button:hover {
    background-color: rgb(200, 200, 200);
    -unity-background-image-tint-color: rgb(34, 34, 34);
}

#property-content {
    border-left-color: rgb(34, 34, 34);
    border-right-color: rgb(34, 34, 34);
    border-top-color: rgb(34, 34, 34);
    border-bottom-color: rgb(34, 34, 34);
    border-top-width: 1px;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#property-name-field {
    margin-bottom: 5px;
}

#property-name-field.unity-base-field {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#property-name-field.unity-base-field .unity-label {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    -unity-text-align: middle-left;
}

#property-value-field {
}

#property-value-field.unity-base-field {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#property-value-field.unity-base-field .unity-label {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    -unity-text-align: middle-left;
}
