GridBackground {
    --grid-background-color: rgb(40, 40, 40);
    --line-color: rgba(193, 196, 192, 0.1);
    --thick-line-color: rgba(193, 196, 192, 0.1);
    --spacing: 10;
}

#node-description {
    position: absolute;
    left: 12px;
    bottom: 12px;
    color: rgb(190, 190, 190);
    background-color: rgba(20, 20, 20, 0.85);
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#nodeSearchContainer {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 240px;
}
