<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target name="ServerInfo" xsi:type="File" encoding="UTF-8" createDirs="true"
            fileName="${var:serverLogRoot}/Server${date:format=yyyyMMdd}/${logger}.${var:appId}.${date:format=yyyyMMddHH}.Info.log"
            layout="${longdate} ${callsite:className=false:methodName=false:fileName=true:includeSourcePath=false:skipFrames=2} ${message}" />
    <target name="ServerError" xsi:type="File" encoding="UTF-8" createDirs="true"
            fileName="${var:serverLogRoot}/Server${date:format=yyyyMMdd}/${logger}.${var:appId}.${date:format=yyyyMMddHH}.Error.log"
            layout="${longdate} ${callsite:className=false:methodName=false:fileName=true:includeSourcePath=false:skipFrames=2} ${message}" />
    <target name="ConsoleColor" xsi:type="ColoredConsole"
            layout="${longdate} ${callsite:className=false:methodName=false:fileName=true:includeSourcePath=false:skipFrames=2} ${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="ConsoleColor,ServerInfo" />
    <logger name="*" minlevel="Error" writeTo="ServerError" />
  </rules>
</nlog>
